<div class="container">
  <form [formGroup]="form" (submit)="onSubmit()" >
    <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
      <div class="input-group-prepend">
        <input [formControlName]="'todo'" type="text"  class="form-control" placeholder="Add Todo" name="todo">
        <span class="input-group-text" (click)="onSubmit()">
    <i class="material-icons">add</i></span>
      </div>
    </div>
    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft]  *ngFor="let todo of todoArray; let i = index">{{todo}} <i (click)="onDeleteItem(i)" class="material-icons">delete</i></li>
      </ul>
    </div>
  </form>
</div>
